@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: #2C85D8;
    --secondary: #DDDBFF;
    --background: #F8FAFC; /* Light theme background */
    --foreground: #E2E8F0;
    --text: #333333;
    --accent: #F43E5C;
  }

  .dark {
    --primary: #2780D3;
    --secondary: #020024;
    --background: #030507; /* Light theme background */
    --foreground: #111827;
    --text: #CCCCCC;
    --accent: #C10B29;
  }
}
